@page
@model ProjectModel
@{
    ViewData["Title"] = "Projects page";                                              
}

<div class="container" style="margin: 100px 0 0 0">
    <div class="card-container" style="display: flex; justify-content: space-between;">
        <div class="card" style="width: 18rem;">
            <img src="~/assets/images/TS190.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Poplatkový automat</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/projects/poa" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Diplomová práce</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">                                         
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Poplatkový automat</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
